*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Karla', sans-serif;
}

img{
    display: block;
    max-width: 100%;
}

.container--flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.main-header{
 padding:  15px;
}
.main-title{
color: #fff;

}

.color-span{
    color: #eead33;
}

.icon-menu{
    position: relative;
    display: inline-block;
    font-size:  1.2em;
    color: #EEAD33;
    border: 1px solid #fff;
    display: block;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.menu{
display: none;
top: 70px;
left: 0;
background: #212121;
width: 100%;
list-style: none;
padding: 20px;
margin: 0;
}

.menu__item{
padding: 20px;
text-align: center;

}
.menu__link{
    color: #Fff;
    text-decoration: none;
    position: relative;
}

.menu__link:before{
    content: "";
    position:absolute;
    width: 5px;
    height: 5px;
    border-right:2px solid #eead33 ;
    border-top: 2px solid #eead33;
    top:0;
    right: 0;
    opacity: 0;

}
.menu__link:after{
    content: "";
    position:absolute;
    width: 5px;
    height: 5px;
    border-left:2px solid #eead33 ;
    border-bottom: 2px solid #eead33;
    left:0;
    bottom: 0;
    opacity: 0;
}
.menu_link span:before{
    content: "";
    position:absolute;
    width: 5px;
    height: 5px;
    border-left:2px solid #eead33 ;
    border-top: 2px solid #eead33;
    top:0;
    left: 0;
    opacity: 0;
}
.menu_link span:after{
    content: "";
    position:absolute;
    width: 5px;
    height: 5px;
    border-bottom:2px solid #eead33 ;
    border-right: 2px solid #eead33;
    bottom:0;
    right: 0;
    opacity: 0;
}
.menu__link span{
    padding:10px;
    font-size:1.1em;
}

.menu__link--select:before, .menu__link--select:after, .menu__link--select span:before, .menu__link--select span:after{
    opacity: 1;
}
.menu__item:hover .menu__link:before, .menu__item:hover  .menu__link:after, .menu__item:hover  .menu__link span:before, .menu__item:hover .menu__link span:after{
    opacity: 1;

}


.fa-facebook-f{
    

}















.banner{
    background:url(banner.jpg);
    min-height: 400px;
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    z-index: -999;
}

.banner:before {
    content: "";
    min-height: 400px;
    width: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    

}

.banner__content{
    width: 100%;
    padding: 15px;
    position:absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: 1.3em;
}

.main {
    margin-top: 345px;
    
}

.welcome{
    text-align: center;
    padding:  20px;
}

.welcome__title{
    font-size: 2em;
    position: relative;
}

.welcome__title:before{
    content:"";
    width: 30%;
    position: absolute;
    top:-20px;
    left: 35%;
    height: 3px;
    background: #EEAD33;
    

}

.welcome__txt{
    font-size: 20px;
    color:#323;

}


.welcome__btn{
    display: block;
    border: 2px solid #EEAD33;
    width:200px;
    margin: auto;
    padding:10px;
    text-decoration:none;
    color: #eead33;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 30px;
    transition: all 0.5s;

}

.welcome__btn:hover{
    background: #eead33;
    color:#fffd;

}
.contaner-design{
    margin:20px 0;
}

.desingn__item{
position: relative;

}
.desingn__item:before{
    content: "";
    min-height: 400px;
    width: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;

}

.design__title{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: 1.8em;
    width: 100%;
    text-align: center;
}

.design__title:before{
    content:"";
    width: 35%;
    position: absolute;
    top:-20px;
    left: 30%;
    height: 3px;
    background: #EEAD33;
}

.design__title:after{
    content:"";
    width: 35%;
    position: absolute;
    bottom:-30px;
    top:-20px;
    left: 30%;
    height: 3px;
    background: #EEAD33;
}
    
.design__img{


}